.buttonPaginaInicio {
    border-radius: 31px;
    background: linear-gradient(180deg, #2B6327 0%, rgba(43, 99, 39, 0.00) 100%);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-bottom: 10px;
    border-right: 10px;
    text-decoration: none;
    top: 150%;
    left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(95, 133, 6);
}

.imagem_grid {
    display: flex;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 22%;
}

.image-item {
    text-align: center;
}

.img {
    display: flex;
    width: 300px;
    height: 300px;
}

.text {
    display: block;
    color: #FFF;
    text-decoration: none;
}

.button__proj {
    border-radius: 31px;
    background: linear-gradient(180deg, #2B6327 0%, rgba(43, 99, 39, 0.00) 100%);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-bottom: 10px;
    border-right: 10px;
    text-decoration: none;
    top: 150%;
    left: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.icons {
    position: absolute;
    right: 20px;
    top: 12%;
    display: flex;
}

.git {
    top: 35px;
    right: 20px;
    position: relative;
}

.linkedin {
    top: 35px;
    position: relative;
}

.alura {
    top: 35px;
    position: relative;
    right: 35px;
}

.container {
    
}

@media screen and (max-width: 768px) {
    .icons {
        position: absolute;
        right: 20px;
        top: 2%;
        display: flex;
    }

    .git {
        top: 30px;
        right: 20px;
        position: relative;
    }

    .linkedin {
        top: 30px;
        position: relative;
    }

    .alura {
        top: 29px;
        position: relative;
        right: 38px;
    }

    .imagem_grid {
        display: block;
        left: 4%;
        top: 40%;
    }

    .imagem_item {
        left: 10%;
        position: relative;
        padding: 10px;
    }

    .buttonPaginaInicio {
        position: relative;
        background-size: cover;
    }

    .button__proj {
        position: relative;
        background-size: cover;
    }

    .img {
        gap: 10px;
    }
}