@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap');

.minhaFoto {
    width: 337px;
    height: 337px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 40px;
    top: 114px
}

.textos {
    position: absolute;
    top: 150px;
    left: 340px;
    width: 423px;
    height: 41px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Krona One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foto {
    justify-content: space-between;
    align-items: center;
}

.textos__h2 {
    width: 1003px;
    height: 207px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: absolute;
    top: 220px;
    left: 340px;
}